body {
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
}

h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size:x-large;
     color: black;

}
img{
     height: 3%;
     width: 3%;
}

